.App {
  margin: 0;
  padding: 10px;
  font-family: Helvetica;
  color: #282c34;
}

a {
  text-decoration: none;
  color: #282c34;
}

.link:hover {
  background-color: lightgray;
}

p {
  margin: 0;
  padding: 0;
}

.strong {
  font-weight: 700;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mb-m {
  margin-bottom: 5px;
}

.fdr {
  display: flex;
  flex-direction: row;
}

.fjb {
  justify-content: space-between;
}

.fjc {
  justify-content: center;
}
