.card {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-color: teal;
  border-width: 2px;
  border-style: solid;
}

.card h3 {
  margin: 0;
  padding: 10px 5px;
  background-color: teal;
  color: white;
}
